{% extends 'base.html' %}

{% block title %}Course Completion List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Analytic List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Completion Id</th>
                <th>User ID</th>
                <th>Course ID</th>
                <th>Completion Date</th>
            </tr>
        </thead>
        <tbody>
            {% for course in CourseCompletion %}
            <tr>
                <td>{{ course.completion_id }}</td>
                <td>{{ course.user_id }}</td>
                <td>{{ course.course_id }}</td>
                <td>{{ course.completion_date }}</td>            
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


