{% extends "base.html" %}

{% block title %}Course Feedback{% endblock %}

{% block content %}
    <h2>Give Feedback for Course: {{ course.name }}</h2>
        <form method="post">
            {% csrf_token %}

            <!-- Criteria Ratings -->
            <label>Course Material</label>
            {{ form.course_material }}

            <label>Clarity of Explanation</label>
            {{ form.clarity_of_explanation }}

            <label>Course Structure</label>
            {{ form.course_structure }}

            <label>Practical Applications</label>
            {{ form.practical_applications }}

            <label>Support Materials</label>
            {{ form.support_materials }}

            <!-- Comments -->
            <label>Comments</label>
            {{ form.comments }}

            <button type="submit" class="btn btn-primary">Submit Feedback</button>
        </form>

{% endblock %}
