{% extends 'base.html' %}
{% block title %}Subjects for Program{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Subjects for {{ program.program_name }}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Subject Code</th> <!-- Add this line for the new column -->
                <th>Subject Name</th>
                <th>Term No</th>
                <th>Subject Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ subject.subject.subject_code }}</td> <!-- Add this line for the subject code -->
                <td>{{ subject.subject.name }}</td>
                <td>{{ subject.semester }}</td>
                <td>
                    <a href="{% url 'subject:subject_detail' subject.subject.pk %}" class="btn btn-info btn-sm">View Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'training_program:training_program_list' %}" class="btn btn-secondary">Back to Training Program List</a>
</div>
{% endblock %}