{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>User List</h2>
    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'user:user_add' %}" class="btn btn-primary">Add New User</a>
        <form method="GET" action="{% url 'user:user_list' %}" class="form-inline">
            <input type="text" name="q" value="{{ query|default_if_none:'' }}" class="form-control mr-sm-2" placeholder="Search users...">
            
            <select name="role" class="form-control mr-sm-2">
                <option value="">Select Role</option>
                {% for role in roles %}
                    <option value="{{ role.role_name }}" {% if role.role_name == selected_role %}selected{% endif %}>{{ role.role_name }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
        </form>
    </div>
</div>
    

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Full Name</th>
                <th>Role</th>
                <th>Profile Picture</th>
                <th>Created At</th>
                <th>Updated At</th> 
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.full_name }}</td>
                <td>{{ user.role.role_name }}</td>
                <td>
                    {% if user.profile_picture_url %}
                        <img src="{{ user.profile_picture_url }}" alt="Profile Picture" width="90" height="90" style="border-radius: 0;">
                    {% else %}
                        No image
                    {% endif %}
                </td>
                <td>{{ user.created_at }}</td> 
                <td>{{ user.updated_at }}</td> 
                <td>
                    <a href="{% url 'user:user_detail' user.pk %}" class="btn btn-info btn-sm">Details</a>
                    <a href="{% url 'user:user_edit' user.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'user:user_delete' user.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">No users found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-start mb-4">
        
        {% if query %}
        <a href="{% url 'user:user_list' %}" class="btn btn-secondary">Back to Full User List</a>
        {% endif %}
    </div>    
</div>
{% endblock %}
