{% extends 'base.html' %}

{% block title %}Quiz List{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Quiz List</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Subject</th>
                <th>Category</th>
                <th>Due Date</th>
                <th>Grade</th>
                <th>Submission</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.title }}</td>
                <td>{{ quiz.subject }}</td>
                <td>{{ quiz.category }}</td>
                <td>{{ quiz.end_date|date:"Y-m-d H:i" }}</td>
                <td>
                    {% if quiz.user_submission %}
                        {{ quiz.user_submission.grade|floatformat:2 }}
                    {% else %}
                        Not graded
                    {% endif %}
                </td>
                <td>
                {% if quiz.user_submission %}
                    <a href="{% url 'quiz:submission_result' submission_id=quiz.user_submission.id %}" class="btn btn-success btn-sm">View Submission</a>
                {% else %}
                    Not submitted
                {% endif %}
                </td>   
                <td>
                    <a href="{% url 'quiz:quiz_detail' quiz.id %}" class="btn btn-info btn-sm">View</a>
                    {% if user.is_staff %}
                        <a href="{% url 'quiz:edit_quiz' quiz.id %}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{% url 'quiz:delete_quiz' quiz.id %}" class="btn btn-danger btn-sm">Delete</a>
                    {% endif %}
                    {% if not quiz.user_submission %}
                        <a href="{% url 'quiz:submit_quiz' quiz.id %}" class='btn btn-primary btn-sm'>Take Quiz</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% if user.is_staff %}
        <a href="{% url 'quiz:create_quiz' %}" class="btn btn-success">Add New Quiz</a>
    {% endif %}
</div>
{% endblock %}
