{% extends 'base.html' %}

{% block title %}Users Enrolled in {{ program.program_name }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Users Enrolled in {{ program.program_name }}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Full Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for enrollment in enrolled_users %}
            <tr>
                <td>{{ enrollment.student.username }}</td>
                <td>{{ enrollment.student.get_full_name }}</td>
                <td>
                    <a href="{% url 'user:user_detail' enrollment.student.pk %}" class="btn btn-info btn-sm">View User Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'training_program:training_program_list' %}" class="btn btn-secondary">Back to Training Program List</a>
</div>
{% endblock %}
