{% extends 'base.html' %}

{% block title %}Study List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Study List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Study Link</th>
                <th>Image</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for study in studies %}
            <tr>
                <td>{{ study.study_subject }}</td>
                <td><a href="{{ study.study_link }}" target="_blank">{{ study.study_link }}</a></td>
                <td><img src="{{ study.image.url }}" alt="{{ study.subject.name }} Image" width="100"></td>
                <td>{{ study.description }}</td>
                <td>
                    <a href="{% url 'study:study_edit' study.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'study:study_delete' study.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'study:study_add' %}" class="btn btn-primary">Add New Study</a>
</div>
{% endblock %}



