{% extends 'base.html' %}

{% block title %}Delete Thread{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Are you sure you want to delete the thread "{{ thread.thread_title }}"?</h2>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <!-- Updated URL to thread list -->
        <a href="{% url 'thread:thread_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}

