{% extends "base.html" %}

{% block title %}Module List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Certificate List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Certificate Id</th>
                <th>User Id </th>
                <th>Course Id</th>
                <th>Issue Date</th>
                <th>Certificate URL</th>
                
            </tr>
        </thead>
        <tbody>
            {% for certificate in certificates %}
            <tr>
                <td>{{ certificate.certificate_id }}</td>
                <td>{{ certificate.user_id}}</td>
                <td>{{ certificate.course_id }}</td>
                <td>{{ certificate.issue_date }}</td>
                <td>{{ certificate.certificate_url }}</td>
                <td><i class="{{ module.icon }}"></i></td>
                <td>
                    <a href="{% url 'certificate:certificate_detail' certificate.pk %}" class="btn btn-info btn-sm">Details</a>
                    <a href="{% url 'certificate:certificate_edit' certificate.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'certificate:certificate_delete' certificate.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'certificate:certificate_add' %}" class="btn btn-primary">Add New Certificate</a>
</div>
{% endblock %}
