{% extends "base.html" %}
{% load form_filters %}

{% block title %}{{ form.instance.pk|yesno:"Edit Certificate,Add New Certificate" }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{{ form.instance.pk|yesno:"Edit Certificate,Add New Certificate" }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.certificate_id.label_tag }}
            {{ form.certificate_id|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.user_id.label_tag }}
            {{ form.user_id|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.course_id.label_tag }}
            {{ form.course_id|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.issue_date.label_tag }}
            {{ form.issue_date|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.certificate_url.label_tag }}
            {{ form.certificate_url|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'certificate:certificate_add' %}" class="btn btn-secondary">Back to Certificate List</a>
    </form>
</div>
{% endblock %}
