{% extends 'base.html' %}

{% block title %}{{ certificate.certificate_id }} Details{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Certificate Details</h2>
    <p><strong>Certificate ID:</strong> {{ certificate.certificate_id }}</p>
    <p><strong>User Id:</strong> {{ certificate.user_id }}</p>
    <p><strong>Course Id:</strong> {{ certificate.course_id}}</p>
    <p><strong>Date:</strong> {{ certificate.issue_date }}</p>
    <p><strong>URL:</strong> {{ certificate.certificate_url }}</p>
    <a href="{% url 'certificate:certificate_list' %}" class="btn btn-primary">Back to User List</a>
</div>
{% endblock %}