{% extends 'base.html' %}
{% block title %}Class List{% endblock %}
{% block content %}
<div class="container mt-4"></div>
<h2>Class info</h2>
<a href="{% url 'class:add_student' %}" class="btn btn-primary">Add New Student</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Class_id</th>
            <th>Number of student</th>
            <th>Mentor</th>
            <th>Student detail</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for class in classes %}
        <tr>
            <td><b>{{ class.id_class }}</b></td>
            <td>{{ class.number_student }}</td>
            <td>{{ class.class_mentor }}</td>
            <td>
                {% for student in class.students.all %}
                    {{ student.full_name }}<br>
                {% empty %}
                    No students added.
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'class:class_edit' class.pk %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'class:class_delete' class.pk %}" class="btn btn-danger btn-sm">Delete</a>
                <td>
                    {% for student in class.students.all %}
                        {{ student.full_name }}<br>
                        {% if student.id %}
                            <a href="{% url 'class:edit_student' student.id %}" class="btn btn-info btn-sm">Edit</a>
                        {% else %}
                            <span>No ID available</span>
                        {% endif %}
                    {% empty %}
                        No students added.
                    {% endfor %}
                </td>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'class:add_class' %}" class="btn btn-primary">Add New Class</a>
</div>
{% endblock %}
